html, css {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
  }

body {
  max-width: 100%;
}

.scrollbar::-webkit-scrollbar-button {display:none}


  .navbar {
    z-index: 99;
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .navbar-brand {
    position: fixed;
    left: 40px;
  }

  .navbar-toggler {
    position: fixed;
    right: 40px;
  }

  .navbar-nav {
    position: fixed;
    right: 40px;
    border-radius: 20px;
    padding: 13px;
  }


  .sidenav a:hover {
    color: #f1f1f1;
  }
   
  
  .sidenav h1 {
    font-size: 20px;
    color: #ffffff;
    margin-top: -12px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

#landing {
  color: #000;
}

#landing #section-one {
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

#info #e {
  padding: 10px;
  border-radius: 40px;
}

#e-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
}

#nm-img {
    width: 100%;
    height: 100%;
    border-radius: 28px;
  }

br {
  user-select: none;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index:2;
  color:#ffffff;
  background-color:#000;
  border-color:#000;
}

.list-group {
  border-radius: 32px;
}

.card, img {
  border-radius: 32px !important;
}

.tab-content img {
  margin-top: 10px;
}

.card-body {
  margin-top: 10px;
}

.card {
  background-color: #f5f5f5;
  border: transparent;
  margin-top: 60px;
}

